body{
        background-color: whitesmoke;
        background-image: url(/download\ \(1\).jfif);
    }
.div1{
        width: 700px;
        height: 610px;
        background: linear-gradient(rgb(185, 228, 241), rgb(51, 111, 221),rgb(73, 70, 250),blue);
        margin-left:330px ;
    }
h1{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 60px;
    /* border-radius: 50px; */
    opacity: 70%;
    background-color: white;
}
p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.btn{
    width: 110px;
    height: 20px;
    display: contents;
}
input{
    width: 200px;
    height: 50px;
    margin-left: 250px;
    background-color: darkblue;
    font-size: 1.5em;
    color: white;
   
}
button{
    margin-left: 100px;
   margin-top: 5px; 
    border-radius: 15px;
    width: 40px; 
    height: 40px; 
   font-size: 1.5em; 
   background-color: black; 
   color: white; 
}
#clr{
    margin-left: 350px;
    transform: translatey(-79px);
     border-radius: 10px;
     width: 100px; 
     height: 40px; 
    font-size: 1.5em;     
}
#enter{
    margin-left: 500px;
    transform: translatey(-125px);
     border-radius: 10px;
     width: 100px; 
     height: 40px; 
    font-size: 1.5em;     
}
